<%= form_for(@brain) do |f| %>
  <% if @brain.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@brain.errors.count, "error") %> prohibited this brain from being saved:</h2>

      <ul>
      <% @brain.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :person_id %><br />
    <%= f.number_field :person_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
